<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mx.dao.UserMapper">
  <resultMap id="BaseResultMap" type="com.mx.entity.User">
    <constructor>
      <idArg column="USER_ID" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="USER_NAME" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="PASSWORD" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="SEX" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="AGE" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="NICK_NAME" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="PHONE" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="ADDRESS" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="EMAIL" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="REAL_NAME" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="ID_CARD" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="QQ" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="DESCRIPTION" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="HOBBY" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="POSITION" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="INDUSTRY" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="REGION" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="ROLE_ID" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="IS_ACTIVE" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="UPDATE_TIME" javaType="java.util.Date" jdbcType="TIMESTAMP" />
      <arg column="UPDATE_USER" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="CREATE_USER" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="CREATE_TIME" javaType="java.util.Date" jdbcType="TIMESTAMP" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List">
    USER_ID, USER_NAME, PASSWORD, SEX, AGE, NICK_NAME, PHONE, ADDRESS, EMAIL, REAL_NAME, 
    ID_CARD, QQ, DESCRIPTION, HOBBY, POSITION, INDUSTRY, REGION, ROLE_ID, IS_ACTIVE, 
    UPDATE_TIME, UPDATE_USER, CREATE_USER, CREATE_TIME
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from user
    where USER_ID = #{userId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from user
    where USER_ID = #{userId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.mx.entity.User">
    insert into user (USER_ID, USER_NAME, PASSWORD, 
      SEX, AGE, NICK_NAME, 
      PHONE, ADDRESS, EMAIL, 
      REAL_NAME, ID_CARD, QQ, 
      DESCRIPTION, HOBBY, POSITION, 
      INDUSTRY, REGION, ROLE_ID, 
      IS_ACTIVE, UPDATE_TIME, UPDATE_USER, 
      CREATE_USER, CREATE_TIME)
    values (#{userId,jdbcType=INTEGER}, #{userName,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}, 
      #{sex,jdbcType=VARCHAR}, #{age,jdbcType=INTEGER}, #{nickName,jdbcType=VARCHAR}, 
      #{phone,jdbcType=VARCHAR}, #{address,jdbcType=VARCHAR}, #{email,jdbcType=VARCHAR}, 
      #{realName,jdbcType=VARCHAR}, #{idCard,jdbcType=VARCHAR}, #{qq,jdbcType=VARCHAR}, 
      #{description,jdbcType=VARCHAR}, #{hobby,jdbcType=VARCHAR}, #{position,jdbcType=VARCHAR}, 
      #{industry,jdbcType=VARCHAR}, #{region,jdbcType=VARCHAR}, #{roleId,jdbcType=INTEGER}, 
      #{isActive,jdbcType=INTEGER}, #{updateTime,jdbcType=TIMESTAMP}, #{updateUser,jdbcType=INTEGER}, 
      #{createUser,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.mx.entity.User">
    insert into user
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="userId != null">
        USER_ID,
      </if>
      <if test="userName != null">
        USER_NAME,
      </if>
      <if test="password != null">
        PASSWORD,
      </if>
      <if test="sex != null">
        SEX,
      </if>
      <if test="age != null">
        AGE,
      </if>
      <if test="nickName != null">
        NICK_NAME,
      </if>
      <if test="phone != null">
        PHONE,
      </if>
      <if test="address != null">
        ADDRESS,
      </if>
      <if test="email != null">
        EMAIL,
      </if>
      <if test="realName != null">
        REAL_NAME,
      </if>
      <if test="idCard != null">
        ID_CARD,
      </if>
      <if test="qq != null">
        QQ,
      </if>
      <if test="description != null">
        DESCRIPTION,
      </if>
      <if test="hobby != null">
        HOBBY,
      </if>
      <if test="position != null">
        POSITION,
      </if>
      <if test="industry != null">
        INDUSTRY,
      </if>
      <if test="region != null">
        REGION,
      </if>
      <if test="roleId != null">
        ROLE_ID,
      </if>
      <if test="isActive != null">
        IS_ACTIVE,
      </if>
      <if test="updateTime != null">
        UPDATE_TIME,
      </if>
      <if test="updateUser != null">
        UPDATE_USER,
      </if>
      <if test="createUser != null">
        CREATE_USER,
      </if>
      <if test="createTime != null">
        CREATE_TIME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="userId != null">
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="userName != null">
        #{userName,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="sex != null">
        #{sex,jdbcType=VARCHAR},
      </if>
      <if test="age != null">
        #{age,jdbcType=INTEGER},
      </if>
      <if test="nickName != null">
        #{nickName,jdbcType=VARCHAR},
      </if>
      <if test="phone != null">
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="address != null">
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="email != null">
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="realName != null">
        #{realName,jdbcType=VARCHAR},
      </if>
      <if test="idCard != null">
        #{idCard,jdbcType=VARCHAR},
      </if>
      <if test="qq != null">
        #{qq,jdbcType=VARCHAR},
      </if>
      <if test="description != null">
        #{description,jdbcType=VARCHAR},
      </if>
      <if test="hobby != null">
        #{hobby,jdbcType=VARCHAR},
      </if>
      <if test="position != null">
        #{position,jdbcType=VARCHAR},
      </if>
      <if test="industry != null">
        #{industry,jdbcType=VARCHAR},
      </if>
      <if test="region != null">
        #{region,jdbcType=VARCHAR},
      </if>
      <if test="roleId != null">
        #{roleId,jdbcType=INTEGER},
      </if>
      <if test="isActive != null">
        #{isActive,jdbcType=INTEGER},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateUser != null">
        #{updateUser,jdbcType=INTEGER},
      </if>
      <if test="createUser != null">
        #{createUser,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.mx.entity.User">
    update user
    <set>
      <if test="userName != null">
        USER_NAME = #{userName,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        PASSWORD = #{password,jdbcType=VARCHAR},
      </if>
      <if test="sex != null">
        SEX = #{sex,jdbcType=VARCHAR},
      </if>
      <if test="age != null">
        AGE = #{age,jdbcType=INTEGER},
      </if>
      <if test="nickName != null">
        NICK_NAME = #{nickName,jdbcType=VARCHAR},
      </if>
      <if test="phone != null">
        PHONE = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="address != null">
        ADDRESS = #{address,jdbcType=VARCHAR},
      </if>
      <if test="email != null">
        EMAIL = #{email,jdbcType=VARCHAR},
      </if>
      <if test="realName != null">
        REAL_NAME = #{realName,jdbcType=VARCHAR},
      </if>
      <if test="idCard != null">
        ID_CARD = #{idCard,jdbcType=VARCHAR},
      </if>
      <if test="qq != null">
        QQ = #{qq,jdbcType=VARCHAR},
      </if>
      <if test="description != null">
        DESCRIPTION = #{description,jdbcType=VARCHAR},
      </if>
      <if test="hobby != null">
        HOBBY = #{hobby,jdbcType=VARCHAR},
      </if>
      <if test="position != null">
        POSITION = #{position,jdbcType=VARCHAR},
      </if>
      <if test="industry != null">
        INDUSTRY = #{industry,jdbcType=VARCHAR},
      </if>
      <if test="region != null">
        REGION = #{region,jdbcType=VARCHAR},
      </if>
      <if test="roleId != null">
        ROLE_ID = #{roleId,jdbcType=INTEGER},
      </if>
      <if test="isActive != null">
        IS_ACTIVE = #{isActive,jdbcType=INTEGER},
      </if>
      <if test="updateTime != null">
        UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateUser != null">
        UPDATE_USER = #{updateUser,jdbcType=INTEGER},
      </if>
      <if test="createUser != null">
        CREATE_USER = #{createUser,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where USER_ID = #{userId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.mx.entity.User">
    update user
    set USER_NAME = #{userName,jdbcType=VARCHAR},
      PASSWORD = #{password,jdbcType=VARCHAR},
      SEX = #{sex,jdbcType=VARCHAR},
      AGE = #{age,jdbcType=INTEGER},
      NICK_NAME = #{nickName,jdbcType=VARCHAR},
      PHONE = #{phone,jdbcType=VARCHAR},
      ADDRESS = #{address,jdbcType=VARCHAR},
      EMAIL = #{email,jdbcType=VARCHAR},
      REAL_NAME = #{realName,jdbcType=VARCHAR},
      ID_CARD = #{idCard,jdbcType=VARCHAR},
      QQ = #{qq,jdbcType=VARCHAR},
      DESCRIPTION = #{description,jdbcType=VARCHAR},
      HOBBY = #{hobby,jdbcType=VARCHAR},
      POSITION = #{position,jdbcType=VARCHAR},
      INDUSTRY = #{industry,jdbcType=VARCHAR},
      REGION = #{region,jdbcType=VARCHAR},
      ROLE_ID = #{roleId,jdbcType=INTEGER},
      IS_ACTIVE = #{isActive,jdbcType=INTEGER},
      UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP},
      UPDATE_USER = #{updateUser,jdbcType=INTEGER},
      CREATE_USER = #{createUser,jdbcType=INTEGER},
      CREATE_TIME = #{createTime,jdbcType=TIMESTAMP}
    where USER_ID = #{userId,jdbcType=INTEGER}
  </update>

  <select id="selectUsersByCondition" parameterType="com.mx.entity.User" resultType="com.mx.entity.User">
    SELECT * FROM user where 1=1
    <if test="userName != null">
      and USER_NAME = #{userName,jdbcType=VARCHAR}
    </if>
    <if test="email != null">
      and EMAIL = #{email,jdbcType=VARCHAR}
    </if>
    <if test="password != null">
      and password = #{password,jdbcType=VARCHAR}
    </if>
  </select>

</mapper>