<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>

<script type="text/javascript">
var SpilGamesBrandTimer = +new Date(),
_SPTimer={w:{},start:function(a){this.w[(a||"_")]=+new Date()},end:function(a){window._gaq=window._gaq||[],a=a||"_";if(this.w[a]){ 
}}};
_SPTimer.start('pageLoad');
</script>
	
<title>开心消消乐</title>
</head>
<body style="background-color:#333333">
<div id='wewe'></div>
<script src="/js/jquery-3.1.1.min.js"></script>
<script type="text/javascript" src="/js/games/kxgame/sources.js"></script>
<script type="text/javascript" src="/js/games/kxgame/game.min.js"></script>
</body>
</html>
