<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <plugins>
        <!--<plugin interceptor="com.mx.page.interceptor.PageInterceptor">-->
            <!--<property name="dialect" value="mysql"></property>-->
            <!--<property name="pageSqlId" value=".*List.*"></property>-->
        <!--</plugin>-->
        <plugin interceptor="com.mx.interceptor.SqlLogInterceptor">
        </plugin>
    </plugins>

</configuration>